<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\tomer\pictures_to_phone"/>
    <add key="OutputDir" value="C:\Users\tomer\phone_folder"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>